.navbar {
    padding-inline: 5em;
}

nav {
    margin-bottom: 5em;
}

.main {
    display: flex;
    justify-content: space-between;
}

.filter {
    position: fixed;
    margin-left: 5em;
}

.link {
    text-decoration: none;
    color: black;
    font-size: 1.3em;
}

.cards {
    margin-top: 6em;
    padding: 2em;
}

.no-border {
    border: none;
}
