{% extends 'products/base.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href='{% static "new_css/index.css" %}'>
{% endblock %}

{% block content %}
    <div class="container-fluid main">
      <div class="container text-center">
        <div class="row row-cols-2">
          <div class="col">
            <p style="font-size: 2.5em;">Профиль</p>
            <form action="{% url 'users:profile' user.id %}" method="post">
              {% csrf_token %}
              <div class="input-group">
                <span class="input-group-text">Имя и Фамилия</span>
                {{ form.first_name }}
                {{ form.last_name }}
              </div>
              <div class="input-group mb-3 mt-5">
                <span class="input-group-text" id="inputGroup-sizing-default">Логин</span>
                {{ form.username }}
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Почта</span>
                {{ form.email }}
              </div>
              <div class="col-lg-12" style="margin-top: 33px;">
                <input class="btn btn-info btn-block" type="submit" value="Сохранить">
              </div>
            </form>
          </div>
          <div class="col">
            <p style="font-size: 2.5em;">Корзина</p>
            {% include 'basket/basket.html' %}
          </div>
        </div>
      </div>
    </div>
{% endblock %}
