{% extends 'products/base.html' %}
{% load static %}
{% load cache %}
{% load humanize %}

{% block css %}
  <link href="{% static 'css/card.css' %}" rel="stylesheet" >
{% endblock %}

{% block content %}
    {% if messages %}
      <div class="alert alert-success fade show" role="alert" style="margin-top: 50px;">
              {% for message in messages %}
                  {{ message }}
              {% endfor %}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
    {% endif %}
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mt-5">
          <div class="container mt-5">
           <img src="{{ product.img.url }}" alt="" width="100%">
          </div>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mt-5">
          <div class="container">
            <p class="mt-5 product-title" style="align-self: center;">{{ product.name }}</p>
            <hr>
            <p class="mt-3 product-description-title">Описание: </p>
            <p class="p-3 product-description"> {{ product.description }}</p>
            <hr>
            <p class="product-description-title"> Товаров в наличии: {{ product.quantity }}</p>
            <p style="align-self: center;" class="product-description-title">{{ product.price|intcomma }} руб.</p>
            {% if product.quantity != 0 %}
              <div class="row">
                <div class="col-6 text-center">
                  <a href="{% url 'basket:basket_add' product.id %}" class="btn btn-dark btn-sm mt-5 product-description">В корзину</a>
                </div>
                <div class="col-6">
                  {% if not is_favorite %}
                    <a href="{% url 'products:add_favorite' product.id %}" class="btn btn-info btn-sm mt-5 product-description">В избранное</a>
                  {% else %}
                    <p class="product-description mt-5">Товар уже в избранном :)</p>
                  {% endif %}
                </div>
                </div>
            {% else %}
              <p class="product-description-title">Товара нет в наличии, но он точно появится позже)</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
{% endblock %}