{% extends 'products/base.html' %}
{% load static %}
{% load cache %}
{% load humanize %}

{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-7 col-sm-8 col-md-9 col-lg-9 col-xl-9 col-xxl-9 mt-5">
          <div class="container mt-5">
           <img src="{{ product.img.url }}" alt="" width="100%">
          </div>
        </div>
        <div class="col-5 col-sm-4 col-md-3 col-lg-3 col-xl-3 col-xxl-3 mt-5">
          <div class="container main">
            <h5 class="mt-5" style="align-self: center;">{{ product.name }}</h5>
            <p style="align-self: center;">{{ product.price|intcomma }} руб.</p>
            <a href="{% url 'basket:basket_add' product.id %}" class="btn btn-dark btn-sm mt-5">В корзину</a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}