{% extends 'products/base.html' %}
{% load static %}
{% load cache %}
{% load humanize %}


{% block css %}
    <link rel="stylesheet" href='{% static "css/index11.css" %}'>
{% endblock %}

{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-4 col-sm-4 col-md-3 col-lg-3 col-xl-3 col-xxl-3 mt-5">
          <ul class="gender-list">
            <li class="nav-item">
              <a class="nav-link gender-link" aria-current="page" href="{% url 'products:catalog' request.resolver_match.kwargs.gender_slug %}">Сбросить фильтр</a>
            </li>
            {% for category in categories %}
              <li class="nav-item">
                <a class="nav-link mt-3 gender-link" aria-current="page" href="{% url 'products:category' request.resolver_match.kwargs.gender_slug category.slug %}">{{ category.name }}</a>
              </li>
            {% endfor %}
            <hr>
            <li class="nav-link mt-3">
              <a class="nav-link mt-3 gender-link" aria-current="page" href="{% url 'products:category' request.resolver_match.kwargs.gender_slug 'not-available' %}">Нет в наличии</a>
            </li>
          </ul>
        </div>
        <div class="col-8 col-sm-8 col-md-9 col-lg-9 col-xl-9 col-xxl-9 mt-5">
          <div class="row">
            {% for product in object_list %}
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 mt-5">
                <a href="{% url 'products:card' product.slug %}" style="text-decoration: none;">
                  <div class="card" style="width: 100%; border: none;">
                    <img src="{{ product.img.url }}" class="card-img-top" alt="...">
                    <hr>
                    <h5 class="card-title" style="align-self: center;">{{ product.name }}</h5>
                    <p style="align-self: center;">{{ product.price|intcomma }}</p>
                  </div>
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
{% endblock %}
