{% extends 'products/base.html' %}
{% load static %}


{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block css %}
    <link href='static/css/index5.css' rel="stylesheet">
{% endblock %}



{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="title mt-5">【₵₳₦₮Ⱡł₴₴】</h1>
                    <p class="description-text">
                        ᴄᴀʍый нᴇɸоᴩʍᴀᴧьный ʍᴀᴦᴀзин ᴄнᴦ, ᴄ ɯиᴩоᴋиʍ ᴀᴄᴄоᴩиʍᴇнᴛоʍ ᴩоᴋ ᴀᴛᴛᴩибуᴛиᴋи
                    </p>
                    <button type="button" class="btn-color btn btn-lg">
                        <a id="start-purchase-link" href="{% url 'catalog:catalog' %}">
                            Начать покупки
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
